<div class="uk-section uk-light uk-background-cover " style="background: linear-gradient(to bottom, #7bccf7 0%,#31b3f9 100%);min-height:1400px;">
    <div class="uk-container">
      <h1><img class="uk-logo uk-align-center" alt="WordZoo logo" width="800" src="/images/WordZoo_logo.png" />
      </h1>

    </div>
    <div class="uk-container uk-container-small">
      <% if (req.session.flash && req.session.flash.error) { %>
      <div class="uk-alert-danger" uk-alert>
          <a class="uk-alert-close" uk-close></a>
          <p><%=req.flash('error')%></p>
      </div>
      <% } %>
      <p class="uk-text-center"><a class="uk-button" href="/">&laquo; Return to homepage</a></p>

      <form  action="/login" method="post" class="uk-form-stacked">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Email</label>
            <div class="uk-form-controls">
                <input class="uk-input  uk-form-large" id="email" name="email" type="email" placeholder="Email">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Password</label>
            <div class="uk-form-controls">
                <input class="uk-input  uk-form-large" id="password" name="password" type="password" placeholder="Password">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-form-controls">
                <input class="uk-input uk-form-large uk-button uk-button-primary" type="submit" value="Sign In">
            </div>
        </div>

      </form>
    </div>

</div>
