<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'WordZoo' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


    <!--
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.

        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--STYLES-->
    <link rel="stylesheet" href="/styles/general.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <!--STYLES END-->

  </head>

  <body>

    <div class="uk-section uk-margin-remove uk-padding-remove-top uk-background-image uk-light " style="text-align:center;background:url('/images/backgroundMain.png');min-height:100vh;background-size:100% 100%;">

      <div class="uk-margin-large uk-container" style="background:url('/images/foregroundBackground.png'); min-height:100vh;display:block;">

        <div class="" style="background:url('/images/header.png');max-width:1052px;background-size:contain;background-repeat:no-repeat;height:107px;margin:0 auto;">
          <a href="/logout" style="border:4px solid #ff9933 ;border-radius:6px;float:right;display:block; background:linear-gradient(to bottom, #ffe168 , #ffce07);padding:10px;color:#ff9933;margin-top:10px;margin-right:10px;">
            Log Out
          </a>
        </div>
  <div id="character" style="max-width:1052px;max-height:580px;display:block" class="uk-padding-small uk-padding-remove-top uk-container">&nbsp;</div>
        <div id="gameselect" style="display:block;background:url('/stuhome/Scroll/WebContent/assets/carBackground.png');background-repeat:no-repeat;background-position:center center;" class="uk-padding-large">
<h1 class="uk-text-bold">Games</h1>
          <div uk-slider="autoplay: true;autoplay-interval: 4000">

    <div class="uk-position-relative uk-width-1-1">

        <div class="uk-slider-container uk-light">
            <ul class="games uk-slider-items uk-child-width-1-2 uk-child-width-1-3@s uk-child-width-1-3@m">
                <li>
                    <a href="/student/play/elephant"><img src="/stuhome/Scroll/WebContent/assets/elephant.png" alt=""></a>
                    <div class="uk-position-center uk-panel">&nbsp;</div>
                </li>
                <li>
                    <a href="/student/play/giraffe"><img src="/stuhome/Scroll/WebContent/assets/giraffe.png" alt=""></a>
                    <div class="uk-position-center uk-panel">&nbsp;</div>
                </li>
                <li>
                    <a href="/student/play/lion"><img src="/stuhome/Scroll/WebContent/assets/lion.png" alt=""></a>
                    <div class="uk-position-center uk-panel">&nbsp;</div>
                </li>
                <li>
                    <a href="/student/play/octopus"><img src="/stuhome/Scroll/WebContent/assets/octopus.png" alt=""></a>
                    <div class="uk-position-center uk-panel">&nbsp;</div>
                </li>
                <li>
                    <a href="/student/play/owl"><img src="/stuhome/Scroll/WebContent/assets/owl.png" alt=""></a>
                    <div class="uk-position-center uk-panel">&nbsp;</div>
                </li>
                <li>
                    <a href="/student/play/sheep"><img src="/stuhome/Scroll/WebContent/assets/sheep.png" alt=""></a>
                    <div class="uk-position-center uk-panel">&nbsp;</div>
                </li>
                <li>
                    <a href="/student/play/zebra"><img src="/stuhome/Scroll/WebContent/assets/zebra.png" alt=""></a>
                    <div class="uk-position-center uk-panel">&nbsp;</div>
                </li>

            </ul>
        </div>

        <div class="uk-hidden@s uk-light">
            <a style="color:yellow" class="uk-position-center-left uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a style="color:yellow" class="uk-position-center-right uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

        <div class="uk-visible@s">
            <a style="color:yellow" class="uk-position-center-left-out uk-position-small" href="#" uk-slidenav-previous uk-slider-item="previous"></a>
            <a style="color:yellow" class="uk-position-center-right-out uk-position-small" href="#" uk-slidenav-next uk-slider-item="next"></a>
        </div>

    </div>

    <!--<ul class="uk-slider-nav uk-dotnav uk-flex-center uk-margin"></ul>-->

</div>
        </div>

        <%- body %>

        <div class="uk-text-center " style="background: linear-gradient(180deg, rgba(34,164,243,1) 0%, rgba(17,123,209,1) 100%); border-radius:10px;padding:3px 10px;">&copy; WordZoo 2018</div>

      </div>
    </div>

    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).

        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.

      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:

          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->
    <script src="/games/phaser.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="/stuhome/CustomCharacter/WebContent/assets/canvas/LoadingScreen.js"></script>
    <script src="/stuhome/CustomCharacter/WebContent/assets/canvas/Level.js"></script>
    <script src="/stuhome/CustomCharacter/WebContent/js/Main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.40/js/uikit-icons.min.js"></script>

    <script type="text/javascript">
    var ul = document.querySelector('ul.games');
    for (var i = ul.children.length; i >= 0; i--) {
        ul.appendChild(ul.children[Math.random() * i | 0]);
    }
    </script>

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/1jquery.js"></script>
    <script src="/js/dependencies/chart.min.js"></script>
    <script src="/js/dependencies/home.js"></script>
    <script src="/js/dependencies/uikit-icons.min.js"></script>
    <script src="/js/dependencies/uikit.min.js"></script>
    <script src="/js/admin.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
