<div class="uk-section " style="">
    
    <div class="uk-container uk-container-small " style="">

      <form  action="/student/login" method="post" class="uk-form-stacked">
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Username</label>
            <div class="uk-form-controls">
                <input class="uk-input  uk-form-large" id="username" name="username" type="text" placeholder="Username">
            </div>
        </div>
        <div class="uk-margin">
            <label class="uk-form-label" for="form-stacked-text">Password</label>
            <div class="uk-form-controls">
                <input class="uk-input  uk-form-large" id="passcode" name="passcode" type="password" placeholder="Password">
            </div>
        </div>
        <div class="uk-margin">
            <div class="uk-form-controls">
                <input class="uk-input uk-form-large uk-button uk-button-primary" type="submit" value="Sign In">
            </div>
        </div>

      </form>
    </div>

</div>
