<h1>New Game</h1>
<form method="post" >
  <input type="text" name="name" placeholder="Name" value="" />
  <input type="text" name="slug" placeholder="URL" value="" />
  <textarea  name="source" placeholder="Source Code" ></textarea>
  Status: <select name="live">
  <option value="false" selected="selected">Draft</option>
  <option value="true" >Live</option>
  </select>
  <input type="submit" value="Save" />
</form>
