<h1>New School</h1>
<form method="post" >
  <input type="text" name="name" placeholder=" Name"  />
  <input type="text" name="phone" placeholder=" Telephone"  />
  <textarea  name="address" placeholder="School Name" >

  </textarea>
  <input type="text" name="postcode" placeholder=" Postcode" />
  <input type="text" name="country" placeholder="Country" value="UK" />
  <input type="submit" value="Save" />
</form>
