.menu {
  width: 100%;
  display: block;
  height: 64px;
  background: #eee;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 5;

}

.menu ul li {
  float: left;
  margin:0;
  padding: 0;
  position: relative;
}

.menu ul li a {
  width: 150px;
  background: #ccc;
  display: block;
  padding: 20px;

}

.menu ul > li > ul {
  /*display: none;*/
  position: absolute;
  left: -9999px;
}

.menu ul > li:hover > ul {
  /*display: block;*/
left:0;

}

.menu ul > li > ul > li {
  padding-top: 1px; /* Introducing a padding between the li and the a give the illusion spaced items */
   float: none;
}
header,.container {
  display: block;
  max-width: 1440px;
  width: 1000px;
  margin: 0 auto;
}
.container {
  float: none;
}
