extends wordzoo_pupil_layout

block content
  .uk-align-center
    .uk-grid
      .uk-width-1-3
        a(href='/games/game1')
          img(src="/images/tile_placeholder.png",width='100%',height='200',style='background:/games/game1ccc')
      .uk-width-1-3
        a(href='/games/game1')
          img(src="/images/tile_placeholder.png",width='100%',height='200',style='background:/games/game1ccc')
      .uk-width-1-3
        a(href='/games/game1')
          img(src="/images/tile_placeholder.png",width='100%',height='200',style='background:/games/game1ccc')
    .uk-grid
      .uk-width-1-3
        a(href='/games/game1')
          img(src="/images/tile_placeholder.png",width='100%',height='200',style='background:/games/game1ccc')
      .uk-width-1-3
        a(href='/games/game1')
          img(src="/images/tile_placeholder.png",width='100%',height='200',style='background:/games/game1ccc')
      .uk-width-1-3
        a(href='/games/game1')
          img(src="/images/tile_placeholder.png",width='100%',height='200',style='background:/games/game1ccc')
    .uk-grid
      .uk-width-1-3
        a(href='/games/game1')
          img(src="/images/tile_placeholder.png",width='100%',height='200',style='background:/games/game1ccc')
      .uk-width-1-3
        a(href='/games/game1')
          img(src="/images/tile_placeholder.png",width='100%',height='200',style='background:/games/game1ccc')
      .uk-width-1-3
        a(href='/games/game1')
          img(src="/images/tile_placeholder.png",width='100%',height='200',style='background:/games/game1ccc')
