<div class="uk-section uk-light uk-background-cover  " style="background: linear-gradient(to bottom, #7bccf7 0%,#31b3f9 100%);min-height:1400px;">
  <div class="uk-container uk-container-small uk-text-center">
  <h1><img class="uk-logo uk-align-center" alt="WordZoo logo" width="800" src="/images/WordZoo_logo.png" />
    
  </h1>
  <a class="uk-button uk-button-primary uk-button-large " href="/student/login" >Start <span uk-icon="icon: play"></span></a>
  <a href="/student/login"><img class="uk-align-center" alt="WordZoo Family" width="1000" height="400" src="/images/wordzoo_family.png" /></a>
      <h2>Welcome!</h2>
      <a class="uk-button uk-button-large uk-button-default" href="/login">Sign In as a Teacher</a> <a class="uk-button uk-button-default uk-button-large" href="http://blog.wordzoo.co.uk">Information about WordZoo</a>
    </div>

</div>
