<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<script src="http://localhost:1337/sheepgame/lib/phaser.js"></script>
<script src="http://localhost:1337/sheepgame/js/Main.js"></script>
<script src="http://localhost:1337/sheepgame/assets/canvas/PlayScreen.js"></script>
<script src="http://localhost:1337/sheepgame/assets/canvas/LoadingScreen.js"></script>
<script src="http://localhost:1337/sheepgame/assets/canvas/StartScreen.js"></script>
<script src="http://localhost:1337/sheepgame/assets/canvas/RulesScreen.js"></script>

<script src="http://localhost:1337/sheepgame/assets/canvas/FinishScreen.js"></script>
<h1>Sheep Game</h1>
